<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Litoral Energías Renovables</title>
    <!-- ICONO -->
    <link rel="icon" href="images/logo.png" type="image/x-icon">
    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@200;300;400&display=swap" rel="stylesheet">
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="stylesheets/productos.css">
    <!-- ICONO -->
    <link rel="icon" href="images/logo.png" type="image/x-icon">
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <!-- BOOTSTRAP ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

</head>

<section class="productos">
  <h2>Productos</h2>
  <article class="art-molino">
    <div class="molino">
      <img src="images/09.jpg" alt="molino" />
    </div>
    <div class="descripcion">
      <h4>Molinos eólicos</h4>
      <hr />
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo quae
        fugit placeat commodi alias doloremque ipsa reprehenderit ratione iusto
        quibusdam accusantium, consequuntur maxime minus ex, ad qui, recusandae
        nihil dicta unde cum molestiae illum officia! Nesciunt maiores itaque
        rem eos!
      </p>
    </div>
  </article>

  <article class="art-panel">
    <div class="descripcion">
      <h4>Paneles solares</h4>
      <hr />
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus
        officia minima voluptate ipsa deserunt esse tempore quisquam sed cum
        animi! Dolores et quod quas at, id asperiores repudiandae ipsa molestias
        fugiat ea numquam suscipit rem hic ratione sint tempora amet?</p>
    </div>
    <div class="panel">
      <img src="images/15.jpg" alt="panel solar" />
    </div>
  </article>

  <article class="art-termo">
    <div class="termo">
      <img src="images/14.jpg" alt="termotanque solar" />
    </div>
    <div class="descripcion">
      <h4>Termotanques solares</h4>
      <hr />
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae
        nulla qui laborum, facilis exercitationem illo iure quos inventore
        delectus velit mollitia, saepe ullam doloribus aperiam fuga atque
        officiis aliquam consequuntur placeat aliquid unde aspernatur! Obcaecati
        numquam quasi iure deserunt commodi?</p>
    </div>
  </article>

  <article class="art-compost">
    <div class="descripcion">
      <h4>Composteras</h4>
      <hr />
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae
        voluptatibus cum minima nulla perspiciatis voluptas nemo? Labore numquam
        tenetur laudantium et distinctio? Sed ea aspernatur eaque architecto
        obcaecati distinctio ullam! Vero, iste voluptatem? Magni ducimus
        dignissimos alias, aspernatur quia recusandae.</p>
    </div>
    <div class="compost">
      <img src="images/compostera3.jpg" alt="compostera" />
    </div>
  </article>
</section>

