<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Litoral Energías Renovables</title>
    <!-- ICONO -->
    <link rel="icon" href="images/logo.png" type="image/x-icon">
    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@200;300;400&display=swap" rel="stylesheet">
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="stylesheets/servicios.css">
    <!-- ICONO -->
    <link rel="icon" href="images/logo.png" type="image/x-icon">
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <!-- BOOTSTRAP ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

</head>

<section class="servicios">
        <h2>Servicios</h2>
        <article class="serv-asesoramiento">
            <div class="descripcion">
                <h4>Asesoramiento</h4>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo quae fugit placeat commodi alias
                    doloremque ipsa reprehenderit ratione iusto quibusdam accusantium, consequuntur maxime minus ex,
                    ad
                    qui, recusandae nihil dicta unde cum molestiae illum officia! Nesciunt maiores itaque rem eos!
                </p>
            </div>
            <div class="asesora">
                <img src="images/17.jpg" alt="asesorando">
            </div>
        </article>

        <article class="serv-laboratorio">
            <div class="lab">
                <img src="images/18.jpg" alt="lab">
            </div>
            <div class="descripcion">
                <h4>Laboratorio</h4>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus officia minima voluptate ipsa
                    deserunt esse tempore quisquam sed cum animi! Dolores et quod quas at, id asperiores repudiandae
                    ipsa molestias fugiat ea numquam suscipit rem hic ratione sint tempora amet?</p>
            </div>
        </article>

        <article class="serv-capacitaciones">
            <div class="descripcion">
                <h4>Capacitaciones</h4>
                <hr>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae nulla qui laborum, facilis
                    exercitationem illo iure quos inventore delectus velit mollitia, saepe ullam doloribus aperiam fuga
                    atque officiis aliquam consequuntur placeat aliquid unde aspernatur! Obcaecati numquam quasi iure
                    deserunt commodi?</p>
            </div>
            <div class="capacitaciones">
                <img src="images/19.jpg" alt="capacitando">
            </div>
        </article>

        <article class="serv-repyman">
            <div class="ryp">
                <img src="images/20.jpg" alt="reparando">
            </div>
            <div class="descripcion">
                <h4>Reparación y Mantenimiento</h4>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptatibus cum minima nulla
                    perspiciatis voluptas nemo? Labore numquam tenetur laudantium et distinctio? Sed ea aspernatur
                    eaque
                    architecto obcaecati distinctio ullam! Vero, iste voluptatem? Magni ducimus dignissimos alias,
                    aspernatur quia recusandae.</p>
            </div>
        </article>
    </section>